@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-background-dark text-slate-100 overflow-hidden font-sans;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background-dark;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full hover:bg-white/20 transition-colors;
  }
}

@layer components {

  /* Glassmorphism Utilities */
  .glass-panel {
    @apply bg-surface-card backdrop-blur-xl border border-white/5 shadow-2xl;
  }

  .glass-button {
    @apply bg-white/5 hover:bg-white/10 active:bg-white/20 border border-white/10 backdrop-blur-md transition-all duration-300;
  }

  /* Typography */
  .text-glow {
    text-shadow: 0 0 20px rgba(6, 182, 212, 0.5);
  }

  .title-glitch {
    @apply font-display italic font-black uppercase tracking-tighter;
    text-shadow: 2px 2px 0px rgba(217, 70, 239, 0.3), -2px -2px 0px rgba(6, 182, 212, 0.3);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}